---
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/sans.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About</title>
		<style>
			h1 {
				color: #393939;
				font-size: 3em;
				/* text-align: center; */
				/* font-family: monospace; */
			}
			href {
				color: #000000;
				text-decoration: none;
				text-align: center;
			}
		</style>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
		<a href="/blog/">Blog</a>

		<h1>About</h1>
		<h2> hello </h2>
	</body>
</html>
