---
// src/pages/index.astro
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		
		<link rel="icon" type="image/svg+xml" href="/sans.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Blog</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
		<a href="/blog/">Blog</a>

		<h1>Blog</h1>
		<h2> hello </h2>

        <!-- list of blogs -->
        <ul>
            <li><a href="/posts/hi">Blog 1</a></li>
            <li><a href="/posts/hello">Blog 2</a></li>
	</body>
</html>
